---
layout: notes
title: Notes
background: '/img/bg-post.jpg'
---

Hi! 
<br>
These posts are just quick notes that I have taken that I wanted to be made more
accessible to me or to anyone else who wants them. I make no promises about the
quality, so use at your own risk.

{% for note in site.notes %}

<article class="post-preview">
  <a href="{{ note.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ note.title }}</h2>
    {% if note.subtitle %}
    <h3 class="post-subtitle">{{ note.subtitle }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if note.author %}
    {{ post.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
  </p>
</article>

<hr>

{% endfor %}
